*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color: white;
}
button{
    height: 125px;
    width: 125px;
    border: 2px solid green;
    padding: 25px;
    font-size: 2rem;
    margin: 0px;
    background-color: purple;
    color: white;
}
table{
    margin: 0px auto;
    margin-top: 50px;
    border-collapse: collapse;
}
td{
    padding: 0px;
    margin: 0px;
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
p{
    margin-top: 25px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}
h2{
    font-size: 2rem;
    margin-top: 35px;
    text-align: center;
}
a{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    padding: 15px 25px;
    border: 2px solid red;
    text-decoration: none;
    color: red;
    border-radius: 7px;
    margin-top: 15px;
}
a:hover{
    background-color: red;
    color: white;
}
h1{
    text-align: center;
    color: red;
    margin-bottom: 15px;
    margin-top: 15px;
}
.purple{
    color: yellow;
    font-size: 2rem;
}